<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .card {
        margin-top: 25px;
        background-color: #1a1a1a;  /* dark card */
        border: none;
        color: white;
        
    }
    .card img {
        height: 200px;   /* smaller */
        width: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        
    }
    .card-body {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    
</style>

<body style="background-color: black;">

<nav class="navbar" style="background-color: darkcyan;">
    <div class="container">
        <a class="navbar-brand text-white" href="#">My Book Recommender</a>

        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link text-white ms-3" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white ms-3" href="/recommend">Recommend</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="text-center text-white mt-5" style="font-size: 60px;">Top 50 Books</h1>
        </div>

        {% for i in range(book_name|length) %}
        <div class="col-md-3 ">
            <div class="card">
                <div class="card-body">
                    
                <img class="card-img-top" 
                     src="{{ image[i] }}" alt="Book Image">
                     <h5 class="text-white">{{book_name[i]}}</h5>
                     <h5 class="text-white">by {{author[i]}}</h5>
                     <h5 class="text-white">Votes-{{votes[i]}}</h5>
                     <h5 class="text-white">Rating-{{rating[i]}}</h5>
                
            </div>
        </div>
        </div>
        {% endfor %}
        
    </div>
</div>

</body>
</html>
